<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>博客</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/gua.js"></script>
  </head>
  <body>
    <div class="top">
        <nav class="header">
          <ul>
            <li>
              <a href="#" class="index">首页</a>
            </li>
            <li>
              <a href="#" class="blog">写博客</a>
            </li>
            <li>
              <input type="text"id=input-search placeholder="输入关键词">
              <!-- <button type="button" name="button"id=button-search>搜索</button> -->
            </li>
          </ul>
          <img class="img-header" src="images/header.jpg" alt="">
        </nav>
        <div class="main">
            <div class="foot ">
              <!-- <div class="content-main">
                  <div class="title">
                      <h2>abd</h2>
                  </div>
                  <div class="content">
                      <p>sdjflkasjdf</p>
                  </div>
                  <div class="author">
                        作者: <author class="class-author">asdfsa</author>
                        <p class="p-vote">评论: <vote class="vote">342</vote>个评论</p>
                  </div>
              </div> -->

            </div>
            <div class="label_container hide">
                <div class="article-conatiner">
                  <label>
                      <input id=blog-id type="hidden" >
                  </label>
                  <label>
                      <p>主人密码:</p>
                      <input class=blog-mima type="text" placeholder="输入密码">
                  </label>
                  <label>
                      <p>博客标题:</p>
                      <input class=blog-title type="text" placeholder="输入文章标题">
                  </label>
                  <label>
                      <p>博客作者:</p>
                      <input class=blog-author type="text" placeholder="输入文章作者">
                  </label>
                  <label>
                      <p class="p-content">博客内容:</p>
                      <textarea class=blog-text rows="13" cols="20" placeholder="输入你的想法" wrap="hard"></textarea
                  </label>
                  <button type="button" name="button" class="blog-button">发表博客</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
