<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>博客登录</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="js/gua.js"></script>
  </head>
  <body>
      <div class="container">
          <div class="login_head">
              <h1>博客</h1>
          </div>
          <div class="login_username">
              <input type="text" name="" value="输入你的用户名" id=username>
          </div>
          <div class="login_password">
              <input type="text" name="" value="输入你的密码" id=password>
          </div>
          <div class="login_submit">
              <button id=submit type="button" class="" name="button">登录</button>
              <button id=registe type="button" class="hide" name="button">注册</button>
          </div>
          <div class="register">
              <p>没有帐户？去
                <a href="#" id=id-register>注册</a>
              </p>
          </div>
      </div>
      <script src="js/login.js"></script>
  </body>
</html>
