body {
    background-image: url(/images/body.jpg);
    background-attachment: fixed;
    /* position: relative; */
    opacity: 0.7;
}
.container {
    width: 35%;
    height: 60%;
    /* margin-left: 50%; */
    background-color: white;
    margin-left: 40%;
    margin-top: 100px;
    text-align: center;
    /* display: inline; */
    border: 1px solid #ebebeb;
    /* overflow: auto; */
    overflow: visible;
}
h1 {
    color: #0084ff;
    font-size: 50px;
    font-family: FangSong;
    text-align: center;
}
input {
    width: 60%;
    height: 30px;
    border: 0px solid black;
}
.login_username {
    margin: 30px;
    padding: 5px;
}
.login_password {
    padding: 5px;
    margin: 30px;
}
.login_submit {
    margin-top: 30px;
    padding: 10px;
}
#username {
    border-bottom: 1px solid black;
}
#password {
    border-bottom: 1px solid black;
}
button {
    border: 0px solid black;
    background-color: #0084ff;
    width: 60%;
    height: 36px;
    color: white;
    border-radius: 5px;
}
.register {
    width: 100%;
    height: 58px;
    background-color: #f6f6f6;
    margin-top: 30px;
    border: 1px solid #ebebeb;
}
p {
    padding: 1px;
}
a {
    text-decoration: none;
}
.hide {
    display: none;
}
